@font-face
    font-family: "Bebas"
    src: url("../fonts/bebas/BebasNeue Book.otf")
@font-face
    font-family: "BebasLight"
    src: url("../fonts/bebas/BebasNeue Light.otf")
@font-face
    font-family: "BebasRegular"
    src: url("../fonts/bebas/BebasNeue Regular.otf")
@font-face
    font-family: "BebasThin"
    src: url("../fonts/bebas/BebasNeue Thin.otf")

@import "../libs/font-awesome-4.7.0/css/font-awesome.min.css"
