@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
    .card-news
        .cart
            width: 80%
            margin: 30px auto
    .card-news .cart-2 img
        width: 200px
// ≥768px
+media-breakpoint-down(sm)
    html, body
        overflow-x: hidden
    .nav-container
        background-color: white
        border-bottom: 1px solid rgba(0,0,0,.5)
    .navbar-collapse
        text-align: center
        padding: 15px 0
        a
            display: block
            font-size: 16px
    footer
        padding: 30px 0
        .d-flex
            display: block !important
            text-align: center
        .text-center
            margin: 20px 0
        a
            font-size: 16px
    .header
        padding: 100px 0 20px
    .page--main
        .header
            .col-md-5,
            .col-md-7
                height: auto
            .col-md-7
                img
                    height: auto
                    width: 100%
            .col-md-5
                img
                    width: 40%
    .section-phone
        padding: 20px 0
        background-image: none
        background-color: $yellow
        h3
            font-size: 40px
            margin: 0 !important
            span
                font-size: 30px
        form
            padding: 20px 0
            input
                margin-top: 0 !important
                font-size: 20px
            button
                font-size: 20px
                padding: 5px 20px !important
            span
                font-size: 20px
    .page--contacts
        .section-contacts
            text-align: center
            a
                font-size: 30px
                margin-bottom: 20px
                display: block
        .img-banner
            margin: 20px auto !important
            display: block
            width: 80% !important
    .header
        margin-bottom: -6px
        .col-md-5
            height: auto
    .page-title
        .title-lg
            font-size: 100px
        .title-md
            font-size: 80px
        .title
            font-size: 60px
    .page--about
        .container
            position: relative
            z-index: 1
        p
            font-size: 16px
        .header
            padding-bottom: 0
            .img-banner
                position: relative
                display: block
                margin: 0 0 0 auto
        .checks
            p
                font-size: 16px
                margin: 0 0 30px
                padding: 0
                br
                    display: none
    .title
        font-size: 50px
    .page--clients
        .section-phone.spec
            margin: 0
        .img-banner
            display: block
            margin: 20px auto
            width: 60% !important
        .client
            padding-bottom: 50px
            .img-card
                width: 30%
                display: block
                margin: 20px auto 0
            h4
                font-size: 30px
                margin: 0
            .img-link
                width: 60%
                display: block
                margin: 5px auto 0
            p
                font-size: 20px
    .page--main
        .header
            .col-md-7
                img
                    width: 60%
                    margin: 20px auto 0
        .advantages
            h2
                font-size: 50px
                &::before,&::after
                    font-size: 40px
                &::before
                    letter-spacing: 10px
                    left: -20px
                &::after
                    right: -20px
        .help
            flex-direction: column
            padding: 60px 0 0 !important
            background-position: top center
            background-size: cover
            &:nth-child(even)
                flex-direction: column-reverse
            h3
                font-size: 40px
                margin-bottom: 15px
            p, p > span
                font-size: 18px !important
        .cases
            h3
                font-size: 30px
                margin-bottom: 0 !important
            p
                font-size: 16px !important
                margin-top: 10px !important
        .commerce
            .title
                font-size: 40px
            .btn-main
                font-size: 20px
            input
                width: 70%
    .page--service
        .service
            padding: 20px 0
            background-size: 130% 100%
        .header
            margin-bottom: -10px
        .img-banner
            display: block
            margin: 20px auto 0
        .service-container
            padding: 30px 0 0
            img
                display: block
                width: 25%
                margin: auto
            button
                display: block
                margin: auto
                font-size: 16px
            p
                font-size: 18px
                line-height: 1.4
                text-align: center
                margin: 10px 0 !important
        h3
            font-size: 35px
            position: relative
            padding: 0
            margin: 0
            &::after
                font-size: 50px
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                width: 100%

// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)


@media (min-width: 1400px)
    .page--clients
        .client
            padding: 50px 0 40px !important
            h3
                font-size: 90px
                padding-bottom: 60px

@media (max-width: 1399px)
    .page--main
        .help
            margin: 0
        .title
            font-size: 70px
        p
            font-size: 30px !important
    .section-phone.spec
        h3
            font-size: 50px !important
            span
                font-size: 35px
