@import "vars"
@import "fonts"
@import "libs"

body
    font-family: Bebas

section
    position: relative

.btn-main
    text-shadow: 0 2px 1px rgba(67, 77, 89, 0.4)
    font-size: 30px
    text-align: center
    padding: 0 15px
    outline: none !important
    cursor: pointer
    border-radius: 100px
    border: none


.nav-container
    background: transparent
    position: fixed
    width: 100%
    left: 0
    top: 0
    z-index: 111
    a
        color: black
        font-size: 25px
        font-family: BebasRegular
        &:hover
            text-decoration: none
    .top-phone
        background: white
        padding: 5px 10px
        border-radius: 100px

.page-title
    color: #373737
    line-height: .65
    text-align: center
    text-transform: uppercase
    font-family: BebasRegular
    span
        display: block
    .title-lg
        font-size: 150px
    .title-md
        font-size: 130px
    .title-sm
        font-size: 90px
    .gold
        color: #ffc502

.main
    &-title
        padding-top: 100px
    .btn-main
        color: white
        margin-top: 50px
        background: #ffdf80
.swiper-button-next
    background-image: url("../img/arrow-right.png")
.swiper-button-prev
    background-image: url("../img/arrow-left.png")
.swiper-pagination-bullet
    background: white

.contact
    background-image: url("../img/bg-contact.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    input
        border: 3px solid #eecd61
        width: 60%
    .btn-main
        background: #e7c554
footer
    padding: 50px 0
    background: #444444
    position: relative
    z-index: 111
    a
        color: white
        font-size: 30px
        font-family: BebasRegular
        &:hover
            text-decoration: none
            color: orangered
            transition: .4s ease
    span
        color: white
        font-size: 20px
        text-transform: uppercase
    .fa
        color: white
        font-size: 40px
        margin: 0 5px
.main
    h1
        line-height: 0.8
        font-size: 72px
        padding: 50px 25px

.bg-milk
    background-image: linear-gradient(to bottom, #fff2ca, white)

.header
    background-image: url("../img/bg1.png")
    background-position: center
    background-repeat: no-repeat
    padding: 150px 0 50px
    background-size: cover
    .col-md-5
        height: 400px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

.page--about
    .title
        text-shadow: 2px 2px $yellow
    .checks
        p
            font-family: BebasRegular
            font-size: 28px
            padding-top: 15px
    p
        font-size: 35px
        line-height: 1.2
        font-family: Arial
    .img-main
        position: absolute
        bottom: 0
        right: 0
        width: 40%
        z-index: 11
    .about
        background-image: url("../img/bg-about.png")
        background-position: center bottom
        background-repeat: no-repeat
        background-size: cover
        padding: 50px 0
        .title
            color: white
    .difference
        position: relative
        padding: 50px 0
        .dif-img1
            position: absolute
            right: 0
            top: 0
        .dif-img2
            position: absolute
            left: 0
            top: 0
        .dif-img3
            position: absolute
            right: 0
            bottom: 0


.section-phone.spec
    background-image: url("../img/about-footer-bg.png")
    background-position: top center
    background-size: cover
    background-repeat: no-repeat
    position: relative
    .img-contact
        transform: scale(1.3)
    .img-bottom
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        z-index: 11
        transform: translateY(30%)
    h3
        margin-top: 80px
        text-shadow: 2px 2px #ffc502


.page--contacts
    .section-contacts
        padding: 50px 0
        .fa
            color: #fec536
            font-size: 60px
            text-align: center
            display: block
        a
            color: $dark
            font-size: 50px
            font-family: BebasRegular
            line-height: 1.6
    .img-1
        position: absolute
        top: 5%
        left: 2%
    .img-2
        position: absolute
        top: 50%
        right: 0
        height: 80%
        transform: translate(50%,-50%)
    .section-phone
        background-image: url("../img/contacts/contacts.png")
        background-position: top center

.section-phone
    h3
        color: $dark
        font-size: 70px
        font-family: BebasRegular
        text-align: center
        span
            display: block
            font-size: 50px


//send mail
form
    span
        font-size: 30px
        font-family: BebasRegular
        color: $dark
    input
        border: solid 4px #e7c554
        background-color: white
        color: $dark
        font-size: 25px
        font-family: BebasRegular
        border-radius: 7px
        outline: none !important
        cursor: pointer
        width: 70%
        padding-right: 10px
        padding-left: 10px
    button
        background-color: #e7c554
        font-family: BebasRegular
        font-size: 50px
        line-height: 1
        padding: 15px 20px 5px !important



.btn-main
    text-shadow: 0 2px 1px rgba(67, 77, 89, 0.4)
    font-size: 30px
    text-align: center
    padding: 0 15px
    outline: none !important
    cursor: pointer
    border-radius: 100px
    border: none

.title
    font-size: 72px
    text-align: center
    font-family: BebasRegular


.main
    background-image: url("../img/bg1.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    //padding-top: 50px
    &-title
        padding-top: 100px
    .btn-main
        color: white
        margin-top: 50px
        background: #ffdf80
.swiper-button-next
    background-image: url("../img/arrow-right.png")
.swiper-button-prev
    background-image: url("../img/arrow-left.png")
.swiper-pagination-bullet
    background: white


.advantages
    h2
        text-transform: uppercase
        font-size: 130px
        color: #373737
        text-align: center
        line-height: 0.8
        text-shadow: 2px 2px $yellow
        position: relative
        font-family: BebasRegular
        display: inline-block
        margin: 0
        padding: 0
        &::before
            content: 'ЧЕМ'
            transform: rotate(-90deg) translate(30%,-150%)
            letter-spacing: 20px
            position: absolute
            left: 0
            top: 50%
            font-size: 130px
            text-shadow: none
            color: $yellow
        &::after
            content: '????'
            transform: rotate(90deg) translate(-30%,-140%)
            letter-spacing: 5px
            position: absolute
            right: 0
            top: 50%
            font-size: 130px
            text-shadow: none
            color: $yellow

.contact
    background-image: url("../img/bg-contact.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    input
        border: 3px solid #eecd61
        width: 60%
    .btn-main
        background: #e7c554

.main
    h1
        line-height: 0.8
        font-size: 72px
        padding: 100px 0 0 200px

.page--clients
    .client
        background-image: url("../img/client-bg.png")
        background-size: 100% auto
        background-position: bottom center
        background-repeat: no-repeat
        padding: 20px 0 10px
        background-color: #fff7df
        h3
            text-shadow: 2px 2px $yellow
        h4
            font-size: 40px
            font-family: BebasRegular
            text-align: center
        p
            font-size: 35px
            font-family: BebasRegular
            letter-spacing: -.3px
            line-height: 1



.bg-yellow
    background: #ffdf80
.text-yellow
    color: #fff7df

.page--clients
    .section-phone.spec
        background-image: url("../img/clients-footer-bg.png")
        background-position: top center
        background-size: cover
        background-repeat: no-repeat
        margin-top: -55px
        h3
            margin-top: 45px
    .section-title
        position: relative
        z-index: 1

.page--service
    .section-phone
        background-image: none
        background-color: $milky
    .service-container
        background-color: $milky

        &:nth-child(odd)
            .service
                background-image: url("../img/service-bg-y.png")
        &:nth-child(even)
            .service
                background-image: url("../img/service-bg-w.png")
    .service
        background-size: 100% 100%
        padding: 50px 0
        p
            font-size: 24px
            font-weight: bold

.title-services
    font-size: 40px
    position: relative
    z-index: 4
    padding: 30px 0 20px
    font-family: BebasRegular
    &::after
        position: absolute
        font-size: 75px
        color: #ffe387
        z-index: -1
        transform: translate(-75%, -25%)
.title-services--one
    &::after
        content: "продвижение"
.title-services--two
    &::after
        content: 'разработка'
.title-services--three
    &::after
        content: 'дизайн'
.title-services--four
    &::after
        content: 'Анализ данных'
        transform: translate(-95%, -25%)
.title-services--five
    &::after
        content: 'видео и фото'
        transform: translate(-90%, -25%)

.page--main
    .section-phone
        background-image: none
        background-color: #ffdf80
    .slide-text
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    .header
        .col-md-7, .col-md-5
            height: 400px
        .col-md-7
            img
                height: 100%
                display: block
                margin: auto
                width: auto
        .col-md-5
            img
                width: 60%
            .btn-main
                background-color: $yellow
                color: white
                font-family: BebasRegular
                font-size: 30px
                margin-top: 30px
    .cases
        background: #f0ebe5
        p
            font-size: 24px
            text-align: center
            font-family: BebasRegular
            margin-top: 20px
        .swiper-2
            img
                width: 70%
                display: block
                margin: auto
            .swiper-slide-next
                img
                    width: 80%
    .text-medium
        font-family: BebasRegular
        font-size: 60px
    .text-small
        font-family: BebasRegular
        font-size: 40px
    .title
        font-family: BebasRegular
        font-size: 110px
        text-shadow: 2px 2px $yellow
        line-height: .75
    .help
        display: flex
        align-items: center
        justify-content: center
        background-size: 100% 100%
        background-repeat: no-repeat
        background-position: center
        p
            font-size: 45px
            font-family: BebasRegular
            line-height: 1.06
            margin: 0
            span
                font-size: 30px
                display: block
        img
            width: 40%
    .seo
        background-image: url("../img/help.1.png")
    .design
        background-image: url("../img/help.2.png")
    .video-photo
        background-image: url("../img/help.3.png")
    .development
        margin-top: -50px
    .design
        margin-top: -60px
    .analysis
        margin-top: -80px
    .video-photo
        margin-top: -50px

.commerce
    position: relative
    &-img1
        position: absolute
        top: -10%
        left: 25%
        width: 100px
        z-index: -1
    &-img2
        position: absolute
        top: -20%
        right: 15%
        width: 200px
        z-index: -1
    &-img3
        position: absolute
        bottom: 20%
        left: 15%
        width: 200px
        z-index: -1
    &-img4
        position: absolute
        bottom: 25%
        right: 17%
        width: 150px
        z-index: -1
    input
        width: 25%
.page--about .img-main--news
    width: 50%
    right: 50px
.page--about .img-main--blog
    width: 70%
.card-news
    padding: 50px 0
    .cart
        background: #eee9e9
        width: 30%
        text-align: center
        padding: 20px
        position: relative
        border-radius: 10px
        &-2
          width: 100%
          margin-left: 100px
          img
            max-width: 300px
          &::before
            left: -2%!important
        &::before
            content: ''
            background: #ffdf80
            position: absolute
            width: 100%
            left: -4%
            top: -2%
            height: 100%
            border-radius: 10px
            z-index: -1
        .cart-title
            font-size: 40px
            margin-top: 20px
        .cart-subtitle
            text-transform: uppercase
            font-size: 30px
            font-family: BebasRegular
            text-align: center
        .btn-main
            background: #ffdf80
            font-family: BebasRegular
            color: black
            &:hover
                text-decoration: none
.news
    p
        font-size: 20px
        text-transform: uppercase
        font-family: BebasRegular
    h3
        font-family: BebasRegular
        font-size: 40px
        font-weight: bold
    .btn-main
        background: #ffdf80
        font-family: BebasRegular
        color: black
        &:hover
            text-decoration: none
.news-black
    background: #eee9e9
.next
    background: #fff7df
    font-family: BebasRegular
    color: black
    font-size: 30px
    font-weight: bold
    border-radius: 10px
    padding: 5px 10px
    img
        width: 20px
        margin: 0 10px
.blog
    position: relative
    &-img1
      position: absolute
      right: 0
      top: 0
    &-img2
      position: absolute
      left: 0
      top: 0
.news1
  top: 30%!important
.subtitle
  text-align: center
  font-size: 50px
  font-weight: bold
  font-family: BebasRegular
  margin-bottom: 50px
.abs1
  position: absolute
  left: 0
  bottom: 20%
.abs2
  position: absolute
  right: 0
  bottom: 5%
.abs3
  position: absolute
  right: 0
  bottom: 20%
.abs4
  position: absolute
  left: 0
  bottom: -20%
@import "media" // Always at the end
